<div class="drawer" #drawer>
  <div class="ion-text-center">
    <ion-button fill="clear" expand="full" (click)="clickDrawer()">
      <div class="line"></div>
    </ion-button>
  </div>

  <ion-label class="title">Instructions:</ion-label>
  <ion-label class="instructions">1.- Connect your phone to the AR-glasses via Bluetooth</ion-label>
  <ion-label class="instructions">2.- Allow access to the phone's microphone</ion-label>
  <ion-label class="instructions">3.- Hold the Start button for three seconds to start</ion-label>
  <ion-label class="instructions">4.-You can start to ride your bike. Whenever an approaching vehicle is detected, your glasses will warn you</ion-label>
  <ion-label class="instructions">5.- Once it has started, you can pause or stop anytime you want by holding the button for three seconds and selecting the action you want to do</ion-label>
  
</div>